body {
  color:#000000;
  background-color:#FFF;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size: .8em;
  margin:15px;
}

body a:link, body a:visited, body a:active {
  color: #000000;
  text-decoration: underline;
}

body a:hover {
  color:#505050;
  text-decoration: none;
}

table {
    border-collapse:collapse;
}

table.calendar {
    width: 100%;
    font-size: .9em;
}

.calendar th {
    background-color: #f2f2f2;
    padding: 3px 0px;
}
.calendar th, .calendar td {
    border: 1px solid #000;
    text-align: center;
}

.calendar .currentDay {
    border-width: 2px;
}

.calendar .selectedDay {
    font-weight: bold;
}

.selected {
    font-weight: bold;
}

ul#navigation{
    padding-left: 20px;
    margin-top: 0px;
    list-style: square;
}

ul.inline {
    padding-left: 20px;
    margin: 0px;
}

ul.inline li {
    list-style: none;
    display: inline;
}

#leftarea h1 {
    font-size: 1.2em;
    margin-bottom: 3px;
}

#contentarea h1 {
  font-size: 1.5em;
  margin-top:0px;
}

h2 {font-size: 1.3em;}
h3 {font-size: 1.1em;}

#leftarea {
    float: left;
    width: 14em;
}

#contentarea {
  margin-left: 15em;
}
