<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unistuttgart.ipvs.pmp.apps.vhike"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/logo_rd"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <!-- Activities can be declared here -->
        <activity
            android:name="de.unistuttgart.ipvs.pmp.api.gui.registration.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="mainActivity"
                android:value="de.unistuttgart.ipvs.pmp.apps.vhike.gui.LoginActivity" />
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:icon="@drawable/logo_rd"
            android:label="vHike" >
        </activity>
        <activity
            android:name=".gui.RegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.RideActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.SettingsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".tools.Prefs"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.DriverViewActivity"
            android:stateNotNeeded="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.PassengerViewActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.ProfileActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".gui.HistoryActivity" >
        </activity>
        <activity
            android:name=".gui.HistoryMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.HistoryRideActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- The service of the app where pmp connects to -->
        <service
            android:name="de.unistuttgart.ipvs.pmp.service.app.AppService"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.unistuttgart.ipvs.pmp.apps.vhike" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>