<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unistuttgart.ipvs.pmp.apps.vhike"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SEND_EMAIL" />

    <application
        android:icon="@drawable/logo_rd"
        android:label="@string/app_name"
        android:name=".Application" >
        <uses-library android:name="com.google.android.maps" />

        <!-- Activities can be declared here -->
        <activity
            android:name="de.unistuttgart.ipvs.pmp.api.gui.registration.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter><!--  -->

            <meta-data
                android:name="mainActivity"
                android:value="de.unistuttgart.ipvs.pmp.apps.vhike.gui.LoginActivity" /> <!--  -->
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:icon="@drawable/logo_rd"
            android:launchMode="singleTop"
            android:label="vHike" >
			<!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  -->
        </activity>
        <activity
            android:name=".gui.RegisterActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.RideActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.SettingsActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".tools.Prefs"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.DriverViewActivity"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.PassengerViewActivity"
            android:noHistory="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.ProfileActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.HistoryActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".gui.HistoryMenuActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.HistoryRideActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".gui.PlanTripActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop" >
        </activity>

    
        <!-- The service of the app where PMP connects to
        
        Priority: 5 / 10
		Severity: Warning
		Category: Security
		
		Exported services (services which either set exported=true or contain an
		intent-filter and do not specify exported=false) should define a permission
		that an entity must have in order to launch the service or bind to it. Without
		this, any application can use this service.
         -->
        <service
            android:name="de.unistuttgart.ipvs.pmp.service.app.AppService"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.unistuttgart.ipvs.pmp.apps.vhike" />
            </intent-filter>
        </service>

        <service android:name="de.unistuttgart.ipvs.pmp.apps.vhike.ctrl.vHikeService" />
    </application>

</manifest>