<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unistuttgart.ipvs.pmp.apps.locationtestapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="de.unistuttgart.ipvs.pmp.api.gui.registration.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="mainActivity"
                android:value="de.unistuttgart.ipvs.pmp.apps.locationtestapp.gui.LocationAppActivity" />
        </activity>
        <activity
            android:name=".gui.LocationAppActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- The service of the app where pmp connects to -->
        <service
            android:name="de.unistuttgart.ipvs.pmp.service.app.AppService"
            android:exported="true" >
            <intent-filter>
                <action android:name="de.unistuttgart.ipvs.pmp.apps.locationtestapp" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>