body, div, nav, span, a, h1, h2, h3, h4 {
	font-family: Calibri, Helvetica, Verdana, Tahoma, Arial;
	font-size: 1em;
	margin-left: 5px;
	margin-right: 5px;
}

div#page-head-title {
	font-size: 1.5em;
	font-weight: bold;
	/*color: #6495ED;*/
	margin-bottom: 50px;
	border-bottom: 1px solid #000000;
}

div#page-head-date {
	font-size: 1.5em;
	font-weight: bold;
	/*color: #6495ED;*/
	text-align: center;
	float: right;
}

div#page-title {
	font-size: 3.0em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

div#page-version {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 80px;
}

h1, h2, h3, h4 {
	margin: 0;
	margin-bottom: 0.3em;
	padding: 0;
	font-weight: bold;
	text-decoration: none;
}

h1 span.numberator,
h2 span.numberator,
h3 span.numberator,
h4 span.numberator {
	width: 60px;
	display: block;
	float: left;
}

h1 {
	font-size: 2em;
	color: #000000;
	border-bottom: 1px solid #000000;
	margin-top: 2em;
}

h2 {
	font-size: 1.6em;
	margin-top: 1.0em;
}

h3 {
	font-size: 1.3em;
	margin-top: 1.0em;
}

h4 {
	font-size: 1.2em;
	margin-top: 1.0em;
}

p {
	margin-top: 0;
	padding-top: 0;
}

div#wrapper {
	position: relative;
	width: 550pt;
	left: 50%;
	margin-left: -300px;
	margin-bottom: 25px;
	padding: 20pt;
	border: 1px solid #cccccc;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #555555;
}

/* Navigation */
nav {
	color: #000000;
	margin: 10px;
	padding: 10px;
}

nav {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -600px;
	width: 250px;
	max-height: 95%;
	overflow: auto;
	border: 1px solid #cccccc;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #555555;
}

nav div.title {
	font-size: 1.5em;
	font-weight: bold;
	/*color: #6495ED;*/
	border-bottom: 1px solid #000000;
	padding-top: 10pt;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav ul li {
	margin: 0;
	padding: 0;
}

nav ul li a {
	color: #000000;
	text-decoration: none;
	display: block;
}
nav ul li a:hover {
	background-color: #dddddd;
}

nav ul li.h1-title {
	padding-left: 20px;
	font-weight: bold;
}
nav ul li.h2-title {
	padding-left: 40px;
}
nav ul li.h3-title {
	padding-left: 60px;
}
nav ul li.h4-title {
	padding-left: 80px;
}