<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="de.unistuttgart.ipvs.systemtest.stmengengeruest6">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".MengengeruestApp">
        <activity android:name=".ST_Mengengeruest_6Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- The service of the app where pmp connects to -->
		<service android:name="de.unistuttgart.ipvs.pmp.service.app.AppService" android:exported="true">
			<intent-filter>
				<action android:name="de.unistuttgart.ipvs.systemtest.stmengengeruest6"></action>
			</intent-filter>
		</service>

    </application>
</manifest>