<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unistuttgart.ipvs.pmp.apps.infoapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:name="InfoAppApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".InfoAppActivity"
            android:label="@string/app_name"
            android:theme="@style/StyledIndicators" >
            <intent-filter />
        </activity>
        <activity
            android:name="de.unistuttgart.ipvs.pmp.api.gui.registration.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="mainActivity"
                android:value="de.unistuttgart.ipvs.pmp.apps.infoapp.InfoAppActivity" />
        </activity>

        <service android:name="de.unistuttgart.ipvs.pmp.service.app.AppService" >
            <intent-filter>
                <action android:name="de.unistuttgart.ipvs.pmp.apps.infoapp" />
            </intent-filter>
        </service>
    </application>

</manifest>