<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unistuttgart.ipvs.pmp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
    

    <!-- The android:name ensures that the Application is loaded properly -->
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".PMPApplication" >

        <!-- Activities can be declared here -->
        <activity
            android:icon="@drawable/icon"
            android:label="PMP"
            android:name=".gui.activity.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activity.SettingsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.activity.AppsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.activity.AppActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.activity.PresetsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.activity.PresetActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.activity.RGsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.activity.RGDetailsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- Tabs -->
        <activity android:name=".gui.tab.AppDetailsTab" />
        <activity android:name=".gui.tab.AppPresetsTab" />
        <activity android:name=".gui.tab.AppServiceFeaturesTab" />
        <activity android:name=".gui.tab.PresetAppsTab" />
        <activity android:name=".gui.tab.PresetPrivacySettingsTab" />
        <activity android:name=".gui.tab.RGsAvailableTab" />
        <activity android:name=".gui.tab.RGsInstalledTab" />
        
        <!-- Developer Console -->
        <activity
            android:icon="@drawable/icon_dev_console"
            android:label="PMP Dev Console"
            android:name=".model.activities.PMPDeveloperConsoleActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- END of the OLD Activities for the OLD gui -->


        <!-- // end of Activity declaration -->


        <!-- Broadcast Receivers -->
        <receiver android:name=".broadcastreceiver.ResourceGroupInstall" >
            <intent-filter >
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- // end of Broadcast Receivers -->


        <!--
             The PMPService can be loaded by using the intent action name declared 
			3 lines below
        -->
        <service
            android:exported="true"
            android:name=".service.PMPService" >
            <intent-filter >
                <action android:name="de.unistuttgart.ipvs.pmp.service.PMPService" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>