<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unistuttgart.ipvs.pmp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <!-- The android:name ensures that the Application is loaded properly -->
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name="de.unistuttgart.ipvs.pmp.PMPApplication" >

        <!-- Activities can be declared here -->
        <activity
            android:icon="@drawable/icon"
            android:label="PMP v2"
            android:name=".gui2.activities.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@drawable/icon_settings"
            android:label="@string/settings_title"
            android:name=".gui2.activities.SettingsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@drawable/icon_settings"
            android:label="@string/apps_title"
            android:name=".gui2.activities.AppsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- TEST -->
        <activity
            android:icon="@drawable/icon_undefined"
            android:label="PMP-App"
            android:name=".gui2.activities.AppActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui2.tabs.AppDetailsTab"></activity>
        <activity android:name=".gui2.tabs.AppServiceFeaturesTab"></activity>
        <activity android:name=".gui2.tabs.AppPresetsTab"></activity>
        <!-- // TEST -->


        <!-- Starting OLD Activities for OLD gui... -->
        <activity
            android:label="PMP"
            android:name=".gui.activities.StartActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Applications"
            android:name=".gui.activities.ApplicationsActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Ressources"
            android:name=".gui.activities.RessourcesActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Service Levels"
            android:name=".gui.activities.ServiceLvlActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@drawable/icon_dev_console"
            android:label="PMP Dev Console"
            android:name=".model.activities.PMPDeveloperConsoleActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- END of the OLD Activities for the OLD gui -->


        <!-- // end of Activity declaration -->


        <!-- Broadcast Receivers -->
        <receiver android:name=".broadcastreceiver.ResourceGroupInstall" >
            <intent-filter >
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- // end of Broadcast Receivers -->


        <!--
             The PMPService can be loaded by using the intent action name declared 
			3 lines below
        -->
        <service
            android:exported="true"
            android:name=".service.PMPService" >
            <intent-filter >
                <action android:name="de.unistuttgart.ipvs.pmp.service.PMPService" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>